*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color: #3e968d;
    --text-color: #fff;
    --bg-color: #181718;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--bg-color);
}
.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    color: var(--main-color);
    transition: .4s; 
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

section{
    padding: 40px 15%;
}

.contact{
    background: #101010;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;  
}

.contact-img img{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 10px;
    margin-top: 118px;
}

.contact-form h1{
    font-size: 80px;
    color: #fff;
    margin-bottom: 10px;
}

span{
    color: #3e968d;
}

.contact-form p{
    color: #c6c9d8bf;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.contact-form form{
    position: relative;
}

.contact-form form input,
form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form textarea{
    resize: none;
    height: 200px;
}

.contact-form form .btn{
    margin-left: 120px;
    display: inline-block;
    background: #3e968d;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover{
    border: 2px solid #3e968d;
    background: transparent;
    transform: scale(1.1);
}

@media (max-width: 1480px){
    section{
        padding: 80px 3%;
        transition: .2s;
    }
    .contact-form h1{
        font-size: 60px;
    }
    .contact-form p{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 1090px){
    .contact{
        grid-gap: 2rem;
        transition: .3s;
    }
}

@media (max-width: 1000px){
    .contact{
        grid-template-columns: 1fr;
    }
    .contact-form{
        order: 2;
    }
    .contact-form img{
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 20px;
        
    }
}