@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-image: url(userrole_bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 10px;
}
.wrapper{
  max-width: 700px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.695);
  margin: 145px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 35px;
  border-radius: 30px;
}
.wrapper .title{
  font-size: 20px;
  margin-bottom: 25px;
  color: #12514be6;
  text-align: center;
}
.wrapper .content{
  font-size: 15px;
  margin-bottom: 25px;
  color: #010e0ce6;
  text-align: left;
}

.radiobutton {
  color: #000000;
 font-size: 14px;
 display: inline-flex;
}

.radiobutton .required {
 margin-right: 70px;
 margin-bottom: 30px;
}

.radiobutton input[type = "radio"]{
 margin-bottom: 30px;
 margin-right: 5px;
}

.radiobutton label[for = "ev"]{
  margin-right: 40px;
}

.radiobutton label[for = "em"]{
  margin-right: 40px;
}

.radiobutton label[for = "male"]{
  margin-right: 115px;
}

.radiobutton label[for = "female"]{
  margin-right: 100px;
}

.radiobutton input[id = "on"]{
  margin-left: 14px;
}

.radiobutton label[for = "on"]{
  margin-right: 105px;
}

input[type = "text"]{
  width: 505px;
  color: #2e2e2e;
  font-size: 16px;
  margin-bottom: 30px;
}

.inputfield label{
  margin-right: 21px;
}

input[type = "text"]{
  margin-left: 63px;
  opacity: 75%;
}

select[name = "salaryrange"]{
  width: 505px;
  height: 23px;
  opacity: 75%;
}

.btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #12514be6;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  margin-top: 11px;
}

.btn:hover{
  background: #29a99ce6;
}

.navbar{
  width: 85%;
  margin: auto;
  margin-bottom: -90px;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:rgb(255, 255, 255);
}
.navbar ul{
  margin-left: 320px;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  font-size: 16px;
}
.navbar ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-decoration: uppercase;
  opacity:unset;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #0d877b;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}


