@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
}
:root{
  --main-color: #3e968d;
  --text-color: #fff;
  --bg-color: #181718;
  --big-font: 5rem;
  --h2-font: 2.25rem;
  --p-font: 0.9rem;
}
*::selection{
  background: var(--main-color);
  color: #fff;
}
body{
  color: var(--text-color);
  background-image: url(home_background.jpg);
  background-size: contain;
  background-position: top;
}
header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 170px;
  background: var(--bg-color);
}
.logo{
  color: var(--main-color);
  font-weight: 600;
  font-size: 2.4rem;
}
.navbar{
  display: flex;
}
.navbar a{
  color: var(--text-color);
  font-size: 1.1rem;
  padding: 10px 20px;
  font-weight: 500;
}
.navbar a:hover{
  color: var(--main-color);
  transition: .4s; 
}
#menu-icon{
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
section{
  padding: 70px 17%;
}
.home{
  width:120%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  align-items: center;  
}
.content{
  margin-top: -245px;
  margin-left: 50px;
  max-width: 100%;
  width: 600px;
  height: auto;
}
.home-text h1{
  font-size: var(--big-font);
  color: var(--main-color);
}
.home-text h2{
  font-size: var(--h2-font);
  margin: 1rem 0 2rem;
}
button{
  text-decoration:#fff;
  display: inline-block;
  padding: 10px 30px;
  background: rgb(244, 240, 240);
  font-weight: bold;
  color: #fff;
  border-radius: 0.5rem;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.content a{
  text-decoration: none;
}

.menu-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 1.5rem;
  align-items: center;
}

.attribute .btn{  
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    background: rgb(244, 240, 240);
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}

