*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root{
  --main-color: #3e968d;
  --text-color: #fff;
  --bg-color: #181718;
  --big-font: 5rem;
  --h2-font: 2.25rem;
  --p-font: 0.9rem;
}
*::selection{
  background: var(--main-color);
  color: #fff;
}
body{
  color: var(--text-color);
  background-image: url(home_background.jpg);
  background-size: auto;
  background-position: top;
}
.banner{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 170px;
  background: var(--bg-color);
}
.logo{
  color: var(--main-color);
  font-weight: 600;
  font-size: 2.4rem;
}
.navbar{
  display: flex;
}
.navbar a{
  color: var(--text-color);
  font-size: 1.1rem;
  padding: 10px 20px;
  font-weight: 500;
}
.navbar a:hover{
  color: var(--main-color);
  transition: .4s; 
}
#menu-icon{
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.wrapper{
  max-width: 600px;
  width: 100%;
  background: rgba(255, 255, 255, 0.701);
  margin: 5px auto;
  padding: 5px;
  border-radius: 15px;
}
.attribute{
  margin-bottom: 27px;
  margin-left: 30px;
  color: #12514be6;
  font-weight: 600;
}
.name{
  margin-bottom: 27px;
  margin-top: 20px;
  margin-left: 30px;
  color: #12514be6;
  font-weight: 600;
}
button{
  width: 90px;
  padding: 7px 0;
  text-align: center;
  
  font-weight: bold;
  border: 2px solid #0d877b;
  background: #0d877b;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #0d877b;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.15s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: 100%;
  background-color: #46b1a6;
  transition: 0.15s;
}

p{
  font-size: 18px;
}

button a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}